<div class="container">
	<div class="row home-main">

		<%= render 'layouts/genre_search' %>

		<!-- HOME画面のメイン -->
		<div class="col-xs-9">
			<div class="main-view">
				<div class="main-view-text">
					<p>
						ようこそ、NaganoCakeへ！</br>
						このサイトは、ケーキ販売のECサイトになります。</br>
						会員でない方も商品の閲覧はできますが、</br>
						購入には会員登録が必要になります。
					</p>
				</div>
			</div>
			<div class="favorite-wrapper">
				<h2>オススメ商品</h2>

				<!-- オススメ商品一覧表示 -->
				<div class="favorite-products">
					<% @products.first(4).each do |product| %>
					<div class="favorite-product">
						<%= link_to product_path(product.id) do %>
						<%= attachment_image_tag(product, :image, size: "200x150", fallback: "no-image-mini.jpg", class: "favorite-product-pic") %>
						<% end %>
						<p class="favorite-product-title"><%= link_to product.name, product_path(product.id) %></p>
						<p class="favorite-product-price">¥<%= product.price %></p>
					</div>
					<% end %>
				</div>

				<div class="more-products">
					<%= link_to 'もっと見る>', products_path %>
				</div>
			</div>
		</div>
	</div>
</div>