<h2>注文履歴一覧</h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>注文日</th>
			<th>配送先</th>
			<th>注文商品</th>
			<th>支払い金額</th>
			<th>ステータス</th>
			<th>注文詳細</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
			<td>
				<%= order.shipping_postcode %></br>
				<%= order.shipping_address %></br>
				<%= order.shipping_name %>
			</td>
			<td>
				<% order.order_products.each do |order_product| %>
				<%= order_product.product.name %></br>
				<% end %>
			</td>
			<td><%= order.payment %></td>
			<td><%= order.status_i18n %></td>
			<td><%= link_to '表示する', order_path(order.id) %></td>
		</tr>
		<% end %>
	</tbody>
</table>