
    <h3>マイページ</h3><br>
    <h5>登録情報</h5>
    <%= link_to "編集", edit_customers_path, class: "btn btn-primary" %>
    <%= link_to "パスワードを変更する", edit_customer_password_path, class: "btn btn-primary" %>

<table class="table table-bordered">
    <tr>
    <td>氏名</td>
    <td><%= @customer.family_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
    <td>カナ</td>
    <td><%= @customer.family_name_ruby %><%= @customer.first_name_ruby %></td>
    </tr>
    <tr>
    <td>郵便番号</td>
    <td><%= @customer.postcode %></td>
    </tr>
    <tr>
    <td>住所</td>
    <td><%= @customer.address %></td>
    </tr>
    <td>電話番号</td>
    <td><%= @customer.tell_number %></td>
    </tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
    </tr>
</table>

<h5>配送先<%= link_to "一覧を見る", destinations_path, class: "btn btn-primary" %></h5><br>
<h5>注文履歴 <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></h5>
