<div class="row">
	<div class="col-xs-9">
		<div class="row">
			<h2><%= "#{@customer.family_name}#{@customer.first_name}" %>さんの会員情報編集</h2>
			<%= form_with model: @customer, url: admins_customer_path(@customer.id), method: :patch, local: true do |f| %>
			<div>
			<section>
				<p>会員ID</p>
				<p><%= @customer.id %></p>
			</section>
			<section>	
				<p>氏名</p>
				<%= f.text_field :family_name %>
				<%= f.text_field :first_name %>
			</section>
			<section>	
				<p>フリガナ</p>
				<%= f.text_field :family_name_ruby %>
				<%= f.text_field :first_name_ruby %>
			</section>
			<section>	
				<p>郵便番号</p>
				<%= f.text_field :postcode %>
			</section>	
			<section>	
				<p>住所</p>
				<%= f.text_field :address %>
			</section>
			<section>	
				<p>電話番号</p>
				<%= f.text_field :tell_number %>
			</section>
			<section>
				<p>メールアドレス</p>
				<%= f.text_field :email %>
			</section>
			<section>
				<p>会員ステータス</p>
				<%= f.radio_button :is_valid, true %>有効　 <%= f.radio_button :is_valid, false %>退会済み
			</section>
			</div>
			<%= f.submit "変更を保存する", class: "b btn-primary" %>
			<% end %>
		</div>
	</div>
</div>