<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h4 style="display:inline-block ; background-color:#dddddd ;">会員の方はこちらからログイン</h4>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group mail_form">
        <%= f.label :メールアドレス, class:"col-xs-4 control-label" %>
        <div class="col-xs-8"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></div>
      </div>

      <div class="field form-group">
        <%= f.label :パスワード, class:"col-xs-4 control-label" %>
        <div class="col-xs-8"><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></div>
      </div>

      <div class="redirect-text"><a href="#">=> パスワードを忘れた方はこちら</a></div>

      <div>
        <%= f.submit "ログイン", class:"btn btn-primary col-xs-6 col-xs-offset-3 clearfix" %>
      </div>
    <% end %>
  </div>
</div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
      <h4 style="display:inline-block ; background-color:#dddddd ;">登録がお済みでない方</h4><br>
      <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行って下さい
      </div>
    </div>
