<header id="header" class="header">
	<!-- ログインしている顧客のヘッダー -->
	<% if customer_signed_in? %>
	<nav class="nav">
		<div class="container">
			<div class="nav-bar">
				<ul class="nav-items">
					<li>
						<%= link_to 'NaganoCake', root_path, class: "nav-logo" %>
					</li>
					<li class="nav-item">
						<%= link_to 'マイページ', customers_path, class: "nav-link btn btn-primary" %>
					</li>
					<li class="nav-item">
						<%= link_to '商品一覧', products_path, class: "nav-link btn btn-primary" %>
					</li>
					<li class="nav-item">
						<%= link_to 'カート', cart_products_path, class: "nav-link btn btn-primary" %>
					</li>
					<li class="nav-item">
						<%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link btn btn-primary" %>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<% elsif admin_signed_in? %>
	<nav class="nav">
		<div class="container">
			<ul class="nav-items">
				<li>
					<%= link_to 'NaganoCake', admins_root_path, class: "nav-logo" %>
				</li>
				<li class="nav-item">
					<%= link_to '商品一覧', admins_products_path, class: "nav-link btn btn-primary" %>
				</li>
				<li class="nav-item">
					<%= link_to '会員一覧', admins_customers_path, class: "nav-link btn btn-primary" %>
				</li>
				<li class="nav-item">
					<%= link_to '注文履歴一覧', admins_orders_path, class: "nav-link btn btn-primary" %>
				</li>
				<li class="nav-item">
					<%= link_to 'ジャンル一覧', admins_genres_path, class: "nav-link btn btn-primary" %>
				</li>
				<li class="nav-item">
					<%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link btn btn-primary" %>
				</li>
			</ul>
			<div class="search-form">
				<%= form_with url: search_path, method: :get, local: true do %>
				<%= text_field_tag 'search[content]' %>
				<%= select_tag 'search[model]', options_for_select({ "顧客" => "customer", "商品" => "product" }) %>
				<%= submit_tag '検索' %>
				<% end %>
			</div>
		</div>
	</nav>

	<!-- 未ログイン -->
	<% else %>
	<nav class="nav">
		<div class="container">
			<ul class="nav-items">
				<li>
					<%= link_to 'NaganoCake', root_path, class: "nav-logo" %>
				</li>
				<li class="nav-item">
					<%= link_to '商品一覧', products_path, class: "nav-link btn btn-primary" %>
				</li>
				<li class="nav-item">
					<%= link_to '新規登録', new_customer_registration_path, class: "nav-link btn btn-primary" %>
				</li>
				<li class="nav-item">
					<%= link_to 'ログイン', new_customer_session_path, class: "nav-link btn btn-primary" %>
				</li>
			</ul>
		</div>
	</nav>
	<% end %>

</header><!-- /header -->